body {
    background-color: #fff;
    overflow: hidden;
    -webkit-app-region: drag;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
html {
    -webkit-app-region: drag;
    background: #fff;
}
@media (min-width: 200px) {
  html {
      border-color: black;
      border-style: solid;
      border-width: 1px;
      border-radius: 5px;
  }
}
